
  <div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "arcachon.jpg", class: "d-block w-100", alt: "First slide" %>
        <div class="carousel-caption d-md-block">
          <h5> Mais que um blog, um livro de recordações</h5>
          <p>Em 2010, eu me mudei definitivamente para a França. Uma das coisas boas que essa mudança trouxe foi a descoberta da minha paixão por viajar. Logo descobrimos que minha irmã também compartilha essa paixão.</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag "portugal_porsol.jpg", class: "d-block w-100", alt: "Second slide" %>
        <div class="carousel-caption d-md-block">
          <h5> </h5>
          <p>A partir da minha mudança, cada visita da minha família era uma ótima desculpa para irmos viajar e conhecermos novos lugares e países. Quase todos os anos eu e minha irmã vamos viajar para uma lugar diferente, a maioria na Europa devido a facilidade de acesso, uma vez que eu moro atualmente em Bordeaux.</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag "budapeste.jpg", class: "d-block w-100", alt: "Fourth slide" %>
        <div class="carousel-caption d-md-block">
          <h5> A idéia de fazer um blog</h5>
          <p>Física de formação, em 2020 eu decidi trocar de área e fiz uma formação em web design. Para poder praticar o que eu aprendi na minha formação, logo veio a idéia de fazer um blog. Essa idéia acabou mudando um pouco e acabou livrando um livro online de recordações das nossas viagens. Minha idéia é que todas as pessoas que participaram das nossas viagens possam participar acrescentando posts de suas recordações.</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag "bandeira.jpg", class: "d-block w-100", alt: "Third slide" %>
        <div class="carousel-caption d-md-block">
          <h5> Um blog participativo</h5>
          <p></p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag "angra.jpg", class: "d-block w-100", alt: "Fifth slide" %>
        <div class="carousel-caption d-md-block">
          <h5> Mais sobre nós</h5>
          <p>Em 2010 eu decidi me mudar definitivamente para a França. Uma das coisas boas que essa mudança trouxe foi a descoberta pela minha paixão por viajar que é compartilhada pela minha irmã.</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag "olinda.jpg", class: "d-block w-100", alt: "Fifth slide" %>
        <div class="carousel-caption d-md-block">
          <h5> Mais que um blog, um livro de recordações</h5>
          <p>Em 2010 eu decidi me mudar definitivamente para a França. Uma das coisas boas que essa mudança trouxe foi a descoberta pela minha paixão por viajar que é compartilhada pela minha irmã.</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag "ilha_recife.jpg", class: "d-block w-100", alt: "Sixth slide" %>
        <div class="carousel-caption d-md-block">
          <h5> Mais que um blog, um livro de recordações</h5>
          <p>Em 2010 eu decidi me mudar definitivamente para a França. Uma das coisas boas que essa mudança trouxe foi a descoberta pela minha paixão por viajar que é compartilhada pela minha irmã.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

