
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "arcachon.jpg", class: "d-block w-100", alt: "First slide" %>
        <div class="carousel-caption d-md-block">
          <h5> Quem somos</h5>
          <p> Somos Fabíola e Fernanda Camargo, muito mais que irmãs, somos melhores amigas e companheiras de viagens. A Fabíola é física e a Fernanda enfermeira, uma gosta de sair a noite, beber, fazer compras.... a outra de passear sem rumo nas cidades, observar os costumes das pessoas locais e ir nos supermercados de cada lugar que visita para ver o que as pessoas comem. Por isso, nos completamos. E o mais importante de tudo é que amamos estar juntas e viajar juntas.</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag "portugal_porsol.jpg", class: "d-block w-100", alt: "Second slide" %>
        <div class="carousel-caption d-md-block">
          <h5> Uma paixão por viajar</h5>
          <p> Em 2010, a Fabíola mudou para a França. Apesar da separação ter sido difícil, essa mudança permitiu a descoberta de uma paixão comum por viajar pelo mundo. Desde 2010, a cada ano tentamos fazer uma viagem para um lugar diferente, a maioria na Europa devido a facilidade de acesso, uma vez que a Fabíola mora atualmente em Bordeaux.</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag "bandeira.jpg", class: "d-block w-100", alt: "Third slide" %>
        <div class="carousel-caption d-md-block">
          <h5> A idéia de fazer um blog</h5>
          <p>Em 2020, a Fabíola decidiu trocar de área e fez uma formação em web design. A idéia de fazer um blog veio em seguida para poder praticar e ela acabou se transformando em um livro de recordações das nossas viagens online.</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag "olinda.jpg", class: "d-block w-100", alt: "Fourth slide" %>
        <div class="carousel-caption d-md-block">
          <h5> Um blog participativo</h5>
          <p>As vezes viajamos só nós duas, as vezes com outras companhias. Por isso para que esse blog seja um livro de recordações completo, desejamos que ele seja participativo. Que todas as pessoas que viajaram conosco possam vir postar suas lembranças, fotos, recordações, anedotas. A gente tem o costume de fazer um albúm de fotos de nossos viagens. Adoramos ficar olhando eles anos depois e nos mlembrar de cada viagem, cada momento engraçado ou nem tão engraçado assim. Esperamos que esse seja nosso novo livro de recordações interativo</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag "ilha_recife.jpg", class: "d-block w-100", alt: "Fifth slide" %>
        <div class="carousel-caption d-md-block">
          <h5 class="m-0">Site feito com <i class="fas fa-heart"></i> por Fabiola Guillou-Camargo</h5>
          <div class="contact">
            <a target="_blank" href="https://www.linkedin.com/in/fabiola-guilloucamargo/">
              <i class="fab fa-linkedin fa-2x"></i>
            </a>
            <a target="_blank" href="https://github.com/fguilloucamargo">
              <i class="fab fa-github fa-2x"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

