<div class="container">
  <h1 class="title"><%= "#{@article.city} - #{@month[@article.month-1]} de #{@article.year}" %></h1>

  <% if @posts.empty? %>
      <h5>Seja o primeiro a escrever um post sobre <%= @article.city %>.</h5>
  <% else %>
    <div class="card-columns">
      <% @posts.each do |post| %>
        <% if post.photo.attached? && post.text == ""%>
          <div class="card">
            <%= cl_image_tag post.user.photo.key, gravity: "face", height: 50, width: 50, crop: "lfill", class: "avatar-large"%>
            <div class="card-footer">
              <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
              <div class="notification-content">
                <p><small><%= post.created_at.strftime("%d/%m/%Y") %></small></p>
                <p><%= post.user..nickname %></p>
              </div>

              <div class="card-footer-actions">
                <%= link_to edit_article_post_path(@article, post) do %>
                  <i class="fas fa-pencil-alt"></i>
                <% end %>
                <%= link_to article_post_path(@article, post), method: :delete do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% elsif !post.photo.attached? %>
          <div class="card p-3">
            <blockquote class="blockquote mb-0 card-body">
              <p><%= post.text %></p>
              <div class="card-footer">
                <%= cl_image_tag post.user.photo.key, gravity: "face", height: 50, width: 50, crop: "lfill", class: "avatar-large"%>
              <div class="notification-content">
                <p><small><%= post.created_at.strftime("%d/%m/%Y") %></small></p>
                <p><%= post.user.nickname %></p>
              </div>

              <div class="card-footer-actions">
                <%= link_to edit_article_post_path(@article, post) do %>
                  <i class="fas fa-pencil-alt"></i>
                <% end %>
                <%= link_to article_post_path(@article, post), method: :delete do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              </div>
            </div>
            </blockquote>
          </div>
        <% else %>
          <div class="card">
            <img class="card-img-top" src="<%= cl_image_path post.photo.key, :quality=>"auto:eco" %>" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= post.title %></h5>
              <p class="card-text"><%= post.text %></p>
            </div>

            <div class="card-footer">
              <%= cl_image_tag post.user.photo.key, gravity: "face", height: 50, width: 50, crop: "lfill", class: "avatar-large"%>
              <div class="notification-content">
                <p><small><%= post.created_at.strftime("%d/%m/%Y") %></small></p>
                <p><%= post.user.nickname %></p>
              </div>

              <div class="card-footer-actions">
                <%= link_to edit_article_post_path(@article, post) do %>
                  <i class="fas fa-pencil-alt"></i>
                <% end %>
                <%= link_to article_post_path(@article, post), method: :delete do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%= link_to "Adicionar um novo post", new_article_post_path(@article) %>
</div>



